# Ignore node_modules
node_modules

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.local

# Ignore temporary files and folders
*.tmp
*.temp
tmp/
temp/

# Ignore build directories
dist/
build/

# Ignore Git files
.git
.gitignore

# Ignore other common files
.DS_Store
Thumbs.db
